<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars" : {
      "gtag_id": "UA-181799444-1",
      "config" : {
        "UA-181799444-1": { "groups": "default" }
      }
    }
  }
  </script>
</amp-analytics>
