{% if jekyll.environment == "production" %}
<amp-ad width="100vw" height="320"
  type="adsense"
  data-ad-client="ca-pub-7759351195774465"
  data-ad-slot="{{ include.slot }}"
  data-auto-format="rspv"
  data-full-width=""
>
  <div overflow=""></div>
</amp-ad>
{% endif %}