{% assign src = include.src %}
{% assign alt = include.alt %}
{% assign ext = include.ext %}
{% assign class = include.class | default '' %}
{% assign width = include.width %}
{% assign height = include.height %}
<amp-img
  src="{{ src }}"
  alt="{{ alt }}"
  class="{{ class }}"
  width="{{ width }}"
  height="{{ height }}"
  layout="responsive"
>
  <noscript><img src="{{ src }}" alt="{{ alt }}"></noscript>
</amp-img>