<div class="comment">
  <div class="comment-heading">
    <h2 class="comment-text">Comments</h2>
  </div>

  <amp-iframe 
    width=600
    height=85
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
    resizable
    src="https://navy-apple.netlify.app/?url={{ url }}"
  >
    <div 
      overflow
      tabindex=0
      role=button
      aria-label="Load more"
      style="display:block;font-size:12px;font-weight:500;font-family:Helvetica Neue, arial, sans-serif;text-align:center;line-height:1.1;padding:12px 16px;border-radius:4px;background:rgba(29,47,58,0.6);color:rgb(255,255,255)"
    >
      Load more
    </div>
  </amp-iframe>
</div>