<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
    {{ site.data.svgs.logo }}
    </a>
    <button class="navbar-toggler" type="button" on="tap:AMP.setState({visible: !visible})">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div [class]="visible ? 'collapse navbar-collapse show' : 'collapse navbar-collapse'" class="collapse navbar-collapse" id="navbarMediumish">
      <ul class="navbar-nav ml-auto">
        {% for menu in site.data.menu %}
        <li class="nav-item">
          <a class="nav-link" href="/{{ menu.id }}">{{ menu.name }}</a>
        </li>
        {% endfor %}
        <div class="bd-search" style="display:none">
          <input type="text" class="search" id="search" name="q" maxlength="255" value="" placeholder="검색"/>
        </div>

        <div id="search-results" style="display:none">
          <ul></ul>
        </div>
      </ul>
    </div>
  </div>
</nav>