{% assign posts = site.posts %}
<div class="site-content">
  <div class="container">
    <div class="main-content">
      {% include base/components/site-header.html %}
      <div class="section-title">
        <h1>
          <span>{{ page.title }}</span>
        </h1>
      </div>
      <section class="posts-section">
        {% include base/components/cards.html posts=paginator.posts %}
      </section>
    </div>
    {% include base/components/paging.html %}
  </div>
</div>
{% include base/scripts/index.js %}