{% assign post = include.post %}
<div class="card-group">
  <div class="card">
    <div class="maxthumb">
      <a href="{{ post.permalink }}">
        <img 
          class="img-fluid lazyimg holder" 
          src="{{ post.image | replace: '/images/', '/lazy-images/' }}" 
          data-src="{{ post.image }}" 
          alt="{{ page.title }}"
        >
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <a class="text-dark" href="{{ post.permalink }}">{{ post.title }}</a>
        {% if post.rating %}
        <div class="rating-container">
        {% include base/components/rating.html rating=post.rating %}
        </div>
        {% endif %}
      </h3>
      <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:12 }}</h4>
    </div>
  </div>
</div>