<div class="comment">
  <div class="comment-heading">
    <h2 class="comment-text">Comments</h2>
  </div>
  <iframe
    src="https://navy-apple.netlify.app/?url={{ page.url }}"
    id="github-comment"
    width="100%"
    height="85"
    frameborder="0"
  ></iframe>

  <script>
    function receiveMessage(event) {
      var githubComment = document.getElementById('github-comment');
      if (event.origin !== 'https://navy-apple.netlify.app' || !githubComment) return;
      githubComment.style.height = Number(event.data.height) + 'px';
    }
    window.addEventListener("message", receiveMessage, false);
  </script>
</div>