{% assign link = site.url | replace: 'https://', '' | replace: 'http://', '' | prepend: 'https://download.' %}

<div class="download-block">
  <a href="{{ link }}/{{ include.file.name }}" target="_blank" rel="noopener noreferrer">
    <div class="file-image">
    {{ site.data.svgs.folder }}
    </div>
    <div class="file-desc">
      <div class="file-name">
        <span class="name">{{ include.file.name }}</span>
      </div>
      <div class="file-size">{{ include.file.size }}</div>
    </div>
    <div class="file-download">
    {{ site.data.svgs.download }}
    </div>
  </a>
</div>