<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-text">
        Copyright © {{ site.time | date: "%Y" }} {{ site.title }} All Rights Reserved.
      </div>
    </div>
  </div>
</footer>