{% assign partner = include.partner %}

<div class="partner-card-container">
    <div class="partner-card">
      <div class="icon-wrapper">{{ site.data.svgs[partner.icon] }}</div>
      <div class="partner-info">
        <a href="{{ partner.link }}" target="_blank">
            <div class="partner-title">{{  partner.title }}</div>
          </a>
          <div class="partner-desc">{{ partner.desc }}</div>
      </div>
    </div>
</div>