/* default */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #007bff;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1, h1 {
  font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
  margin-top: 5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}

blockquote {
  border-left: 4px solid #343a40;
  padding: 0 20px;
  font-style: italic;
  color: rgba(0, 0, 0, .5);
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

button {
  border-radius: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

section {
  margin-bottom: 20px;
}

.text-dark {
  color: #343a40;
}

.mr-1 {
  margin-right: .25rem;
}

a,button,label,
select,textarea {
	touch-action: manipulation
}

/* default */

/* nav */

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: rgba(255, 255, 255, .97);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  transition: top 0.2s ease-in-out;
  top: 0px;
}

.navbar>.container, .navbar>.container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: 500;
  color: rgba(0,0,0,.9);
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand>svg{
  vertical-align: middle;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.collapse:not(.show) {
  display: none;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
}

.navbar .nav-item, .dropdown-menu {
  font-size: 0.9rem;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}


/* nav */

.site-content {
  min-height: 60vh;
  padding-top: 1.5rem;
  margin-top: 57px;
  transition: all 0.4s;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
}

.site-heading {
  padding: 1rem 0rem;
}

.site-heading h1.site-title {
  font-family: Righteous;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.main-content {
  min-height: 300px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* stiky share */

.sticky-container {
  padding-left: 0;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.share, .share a {
  color: rgba(0, 0, 0, .44);
  fill: rgba(0, 0, 0, .44);
}

.sticky-top-offset {
  top: 100px;
}

.share {
  text-align: center;
}

.share p {
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.share ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  display: block;
  transform: scaleY(0);
  transition: transform 0.2s ease-out;
}

.share.active ul {
  height: auto;
  transform: scaleY(1);
}

.share ul > li {
  margin-right: .5rem;
}

.share ul > li > a {
  display: none;
}
.share.active ul > li > a {
  display: block;
}

.share button > .share-close-icon, .share.active button > .share-icon {
  display: none;
}

.share button > .share-icon, .share.active button > .share-close-icon {
  display: block;
}

a {
  color: #00ab6b;
  transition: all 0.2s;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.share-toggle {
  cursor: pointer;
  outline: none;
  border: 0;
  margin-right: .5rem;
  background: rgba(0, 0, 0, .88);
  color: #ffffff;
  fill: #ffffff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 8px;
}

/* sticky share */

/* post continer (post/body) */

.post-container {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.post-container .img-fluid {
  margin: 0 auto 2rem auto;
}

.post-heading {
  padding: 1rem 0rem;
}

.post-container .post-image {
  width: 100%;
}

.post-heading .nav-category {
  margin-bottom: 1rem;
}

.post-top-meta {
  margin-top: 5rem;
}
.author-thumb-container {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-right: 15px;
  padding-left: 15px;
}
.author-thumb {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}
.post-top-meta .author-thumb {
  width: 72px;
  height: 72px;
}

.author-description-container {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.link-dark {
  color: rgba(0, 0, 0, .8);
}
.post-top-meta span {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, .44);
  display: inline-block;
}
.post-top-meta .author-description {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.95rem;
}
.post-heading h1.post-title {
  font-weight: 700;
  margin-bottom: 1rem;
}
.featured-image {
  display: block;
  margin-bottom: 1.5rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.article-post {
  font-family: Merriweather;
  font-size: 1.1rem;
  line-height: 1.84;
  color: rgba(0, 0, 0, .8);
}
.article-post hr {
  margin: 5rem auto;
  width: 30px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 7px dotted #343a40;
  align: center;
}
.article-post p, .article-post blockquote {
  margin: 0 0 1.5rem 0;
}
.article-post p > img {
  display: block;
  margin: 0 auto;
}

.article-post .h1, .article-post .h2, .article-post .h3, .article-post .h4, .article-post .h5, .article-post .h6, .article-post h1, .article-post h2, .article-post h3, .article-post h4, .article-post h5, .article-post h6 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

span.post-date, span.post-read {
  color: rgba(0, 0, 0, .44);
}

.post-date > svg {
  margin-bottom: -1.5px;
}

span.post-name, span.post-date, span.author-meta {
  display: inline-block;
}
/* post continer (post/body) */

/* tag */

.after-post-tags {
  margin-top: 1rem;
}

ul.tags {
  line-height: 2;
  list-style: none;
  padding-left: 0;
  margin: 0 0 3rem 0;
  margin-bottom: 1.5rem;
}
ul.tags li {
  display: inline-block;
  font-size: 0.9rem;
}
ul.tags li span {
  background: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .6);
  border-radius: 3px;
  padding: 5px 10px;
}
/* tag */

/* card */

.section-title h1 {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 27px;
}

.section-title span {
  border-bottom: 1px solid rgba(0, 0, 0, .44);
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: -1px;
}
.card-group {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.card-group>.card {
  margin-bottom: 15px;
}

.card-group>.card .img-fluid {
  height: 100%;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  height: 100%;
  overflow: visible;
}

.maxthumb {
  height: 200px;
  overflow: hidden;
  box-shadow: 0 3px 12px -1px rgba(7,10,25,.2), 0 22px 27px -20px rgba(7,10,25,.2);
}

.card .img-fluid {
  width: 100%;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: .25rem;
}
h3.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
}
h4.card-text {
  color: rgba(0, 0, 0, .44);
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 400;
}
.card-footer {
  padding: .75rem 1.25rem;
  border-top: 1px solid rgba(0,0,0,.125);
}
.card-footer {
  border: 0;
}
.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.wrapfooter {
  font-size: .8rem;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author-meta {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
span.post-name, span.post-date, span.author-meta {
  display: inline-block;
}
span.post-read-more {
  align-items: center;
  display: inline-block;
  float: right;
  margin-top: 8px;
}
span.post-read-more a {
  color: rgba(0, 0, 0, .44);
}
/* card */

/* rating */

.rating-container {
	width: 100px;
	flex: 0;
	margin: auto 0;
}

.post-container .rating-container, .rating-container .rating {
  margin-top: .25rem;
	display: inline-block
}

.card .rating-container {
  display: block;
}

.post-container .rating-container .rating {
  vertical-align: text-bottom;
}

.rating-container .star-score {
	width: 100px;
	height: 20px;
	line-height: 20px;
}

.rating-container .star-score ul {
	padding-left: 0;
  height: 100%;
  margin-bottom: 0;
}

.rating-container .star-score ul li {
	line-height: 0;
	width: 20px;
	height: 100%;
  display: table-cell;
}

.rating-container .star-score .star-comp {
	width: 100%;
	height: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAADsAAAA7AF5KHG9AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAjNJREFUWIXtVk2LE0EQfa9nWVC8iMeg0N0Doskt4sqymoN7WUFZQTz4R8QPVr34ZzwJXtSFsKxRN6K3uc1MHwLxqviReOnyYALZ2clmZrLiwTwYZqiueq+mursoYIEF5oBzruWca83DsTRPsPd+C4AA2KnKwaqBcRyvkuwAAMkrxpjdKjyqagIkH4+/ReRhZZ4qQc65S977d5M2EVkLw7BTlqtSBUTkUdZG8kEVrtIViOO4SfJDXizJFWNMtwxfqQpEUbRM8kmeOACIyFYURctlOA8QtdvtpVqtdiYIAiMihqQBYADUAZwFEBTg/QwgIpmKSEoy9d6nQRBEWuvh1ASccyve+20AJ8r8RQl8V0qta633xoZ9W6C13lNK3QIw+Aviv0jemRQHpuylc67lvX+Bo6vET5KbxpjX2YXcQ6i13gGwAeDbEYj/EJHreeLAjGuYJMkFAK8AnKwo/lVEroVh+Haaw8w+EMdxUyn1UkROlRT/opTa0Fq/P8xpZh8Iw/Cj9/5+SXGIyN1Z4oUSAACl1OmyCZCsFeIu4iQijbIJACgUU7QV/7sE+v3+cQB6yrIfPXmwvV7v2NwJDAaD88jv/9tKqWYQBA0Az/BnNJtEMBwOz83inzkTikiD3HdbOyTvZUaw22maXhSRpwCujo0kGwA+HcZf5AzUR+8uyRvW2rW8+c8Y07XWrgO4DGB3lEA965dFoalYRG5aa5+TzJb5AKy1b0SklSTJJoDVIvwL/N/4DXkXtFApqCcZAAAAAElFTkSuQmCC) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover
}

.rating-container .star-score .star-comp .wrap {
	height: 100%;
	overflow: hidden
}

.rating-container .star-score .star-comp .wrap .fill {
	width: 0;
	height: 20px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAADsAAAA7AF5KHG9AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAjpJREFUWIXtls1PU1EQxX8zrQWqmBiXRhdsjNIdRg1BGyMLeBCCiWHhP2L8COrGPwZXxlJRicYgKhjdse3WrRpopfBmXCAG6GvfR3UlJ3l5L/feOWfuue9OBg5xiC7QqFJuVCl3w5HvJliQWcDB32bnyIh6hWFVXQZwtat9Yyxl4dGsCajKw91vMbmflSeTA/UqlxX9sHfMsJFiwHJarkwOqMiDViK5l4UrtQPNCkOm+ikqVtUuFcZYTcOXygGfo2Aij6LEASyUWZ+jkIazhcjfkN/c4Az5/ADuOw8MAIPAWSCXgPcr7muI1ARqiNQkDGtHjrIm1/jZNoH6PJdUdBE4lmYXKbBubqPFCVZ2B/YdQXGCFURvAo1/IL4JcmuvOLQ5y0aVsqAV/p4TdVyneye2Xx2caHsLGs8ZEdcq0N+l+IajU33B9uuoyY7XsDnPBRN9CZzIKP7dzILiJO/bLYitA80KQ676wuFkSvFvho0XAz52WhRbBwqTfHaRuynFQeR2nHiiBADc/HRafXc/lWRdogREvJQ2AfFkMQlLsaROAEkWE/sT+jOKmzn9QXQJtt/vqI2EPevWLzOdi1qsA1vK+Uhx90V1GxKzEvAE8AMrclvHORfHH9sThporie/llmXX8M7+FsxmmgtcNJPHINf/xFquBOGXTvyxDoj7IIC7rIJM9QbhSFT/VxhjtTfwURe7gssSgLAT2wmJumJBbvQE4VORFptb0DfOO/ew3FzITbv7cBL+Q/zf+AVy37W5Sn37YgAAAABJRU5ErkJggg==) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover
}

.rating-container .star-score .star-comp .wrap .fill[data-rating=half] {
	width: 50%
}

.rating-container .star-score .star-comp .wrap .fill[data-rating=full] {
	width: 100%
}

/* rating */

/* paging */

.paging {
  display: flex;
  padding: 1.5rem;
}

.card-link-wrap {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  outline: none;
  box-sizing: inherit;
  color: #242A31;
  border: 1px solid #E6ECF1;
  margin: .5rem;
  display: flex;
  padding: 0;
  position: relative;
  grid-area: next;
  align-self: stretch;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  align-items: center;
  justify-self: stretch;
  border-radius: 3px;
  flex-direction: row;
  text-decoration: none;
  background-color: #FFFFFF;
  -webkit-box-align: center;
  page-break-inside: avoid;
  -webkit-box-orient: horizontal;
  -webkit-transition: border 250ms ease;
  -webkit-box-direction: normal;
  width: 100%;
}

a.card-link-wrap {
  border-color: #00ab6b;
}

.card-link-wrap:hover {
  border-color: #00ab6b;
}

span.card-link-wrap:hover {
  border-color: #E6ECF1;
}

.card-link-wrap > .card-icon {
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-box-direction: normal;
  outline: none;
  box-sizing: inherit;
  flex: 0 0 auto;
  color: #9DAAB6;
  margin: 0;
  display: block;
  padding: 16px;
  font-size: 24px;
  -webkit-transition: color 250ms ease;
  padding-left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.card-desc {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-box-direction: normal;
  outline: none;
  box-sizing: inherit;
  color: #9DAAB6;
  margin: 0;
  display: block;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-link-wrap .card-icon.left {
  left: 0;
  padding-left: 16px;
}

.card-desc.left {
  text-align: right;
}

.card-header {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #242A31;
  -webkit-box-direction: normal;
  outline: none;
  box-sizing: inherit;
  flex: 1;
  margin: 0;
  display: block;
  padding: 16px;
}
/* paging */

/* Lazy img */
.lazyimg {
  display: block;
  border: 0 none;
  opacity: 1;
  transition: opacity .7s;
  background: #f2f2f2;
  outline: 0 none;
}

.lazyimg[data-src],
.lazyimg[data-srcset] {
  opacity: 0;
  transition: opacity .7s;
}

.lazyimg[data-src].holder {
  opacity: 1;
  transition: opacity .7s;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* Lazy img */

/* related post */

.related-posts, .comment {
  margin-top: 5rem;
}

.related-posts > .related-posts-heading,
.comment > .comment-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* related post */

.path-icon > .arrow-left {
  margin-bottom: -3px;
}

/* related post */

/* toc */

.toc-container > .toc-title {
  padding-left: 1rem;
  border-left: 10px solid;
}

.toc-container .section-nav {
  border-radius: 3px;
  background: rgba(0,0,0,.01);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.toc-container ul {
  list-style: square;
  margin-bottom: 0;
  font-size: 15px;
}

.toc-container a:hover {
  text-decoration-line: underline;
}

/* toc */

/* footer */
.footer {
  border-top: 1px solid rgba(0, 0, 0, .05);
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .44);
  margin-top: 50px;
  position: relative;
  background: #fff;
}
.footer .footer-text {
  margin: 0 auto;
}
/* footer */

/* link box */
.link-container p {
  margin: 2.5px;
}
.link-container {
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: inset 0 0 0 1px rgba(230, 230, 230, 1);
  word-break: break-word;
  font-weight: 400;
}

.link-container>a {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
}

.link-box {
  padding: 0px;
  flex: 0 0 auto;
  display: flex;
} 

.link-body {
  flex: 1 1 auto;
  padding: 10px 10px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.link-title,.link-desc-text,.link-domain {
  max-height: 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  color: rgba(41, 41, 41, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  font-size: 12px;
}

.link-desc-text,.link-domain {
  color: rgba(117, 117, 117, 1);
  font-weight: 400;
}

.link-domain {
  font-size: 10px;
}

.link-desc {
  margin-top: 0;
  display: block;
}

.link-domain-container {
  margin-top: 0;
  display: block;
}

.link-img-container {
  width: 115px;
  padding: 1px;
  border-left: 1px solid rgba(230, 230, 230, 1);
}
.link-img-container>.link-img {
  height: 110px;
  width: 110px;
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: border-box;
}

/* link box */

/* table */

table {
  padding: 0;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  border-collapse:collapse;
}

/* table */

/* hint box */

.hint-container {
  width: 100%;
  margin: 0;
  display: block;
  padding: 24px 24px calc(1px / 10) 50px;
  position: relative;
  margin-top: 32px;
  border-left: 4px solid;
  border-radius: 3px;
  margin-bottom: 32px;
  background-color: #F5F7F9;
}

.hint-container.info {
  border-color: var(--info,#007bff);
}
.hint-container.success {
  border-color: var(--success,#28a745);
}
.hint-container.warning {
  border-color: var(--warning,#ffc107);
}
.hint-container.danger {
  border-color: var(--danger,#dc3545);
}

.hint-type {
  top: 24px;
  left: 16px;
  margin: 0;
  display: block;
  padding: 0;
  position: absolute;
  font-size: 24px;
}

.hint-type.info {
  color: var(--info,#007bff);
}
.hint-type.success {
  color: var(--success,#28a745);
}
.hint-type.warning {
  color: var(--warning,#ffc107);
}
.hint-type.danger {
  color: var(--danger,#dc3545);
}

.hint-body-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  color: #242A31;
  margin: 0;
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.hint-body {
  flex: 1;
}

ol.hint-list {
  padding-left: 1rem;
}

/* hint box */

/* download block */

.download-block {
  margin: 28px auto 20px;
  width: 470px;
  height: 71px;
  border: 1px solid #e9e9e9;
  position: relative;
  border-radius: 1px;
  max-width: 100%;
  clear: both;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}

.download-block>a {
  display: block;
  height: 71px;
  text-decoration: none;
}

.file-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-position: 0 0;
  margin: 21px 17px 20px 22px;
  padding: 0;
}

.file-desc {
  position: absolute;
  left: 70px;
  right: 60px;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.file-desc > .file-name {
  color: #333333;
  font-size: 14px;
  text-overflow: ellipsis;
  height: 20px;
  margin: 17px 0 0;
}
.file-desc > .file-name > .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 272px;
  height: 20px;
  display: block;
}

.file-desc > .file-size {
  font-size: 12px;
  color: #777;
  height: 16px;
  margin: 2px 0 0;
}

.file-download {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-position: 0 0;
  margin: 21px 17px 20px 22px;
  padding: 0;
}
/* download block */

/* toast */
.toast-alert{z-index:2;position:fixed;width:200px;line-height:40px;top:70px;right:-200px;height:40px;color:#fff;background:rgba(0,0,0,.7);text-align:center;border-radius:7px}.toast-alert.active{-webkit-animation:slideLeft .3s forwards,slideRight .5s forwards;-webkit-animation-delay:.3s,1.5s;animation:slideLeft .3s forwards,slideRight .5s forwards;animation-delay:.3s,1.5s}.toast-alert>span{position:absolute;top:50%;transform:translate(-50%,-50%);line-height:normal;width:200px;font-size:1.1rem}@keyframes slideLeft{0%{right:-200px}100%{right:10px}}@keyframes slideRight{0%{right:10px}100%{right:-200px}}
/* toast */

/* Partners */
.partners {
  margin: 0 2rem 2rem;
}

.partners .partners-header {
  color: #000000;
  text-align: center;
}

.partners .partner-card-container {
  margin: 1rem 0;
}

.partner-card-container .partner-card {
  display: flex;
  justify-content: center;
}

.partner-card .partner-info {
  margin-left: .5rem;
  max-width: 300px;
}
/* Partners */