@media screen and (min-width: 413px) {
  .link-title,.link-desc-text,.link-domain {
    font-size: 14px;
  }
  .link-domain {
    font-size: 12px;
  }
  .link-desc {
    margin-top: 8px;
  }
  .link-domain-container {
    margin-top: 12px;
  }
  .link-img-container {
    width: 120px;
  }
  .link-img-container>.link-img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 476px) {
  .link-img-container {
    width: 140px;
  }
  .link-body {
    padding: 16px 20px;
  }
  .link-img-container>.link-img {
    width: 140px;
    height: 140px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .card-group>.card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group>.card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group>.card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .link-title, .link-desc-text, .link-domain {
    font-size: 16px;
  }
  .link-domain {
    font-size: 13px;
  }
  .link-img-container {
    width: 160px;
  }
  .link-img-container>.link-img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .post-container {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .author-thumb-container {
    text-align: left;
    margin-bottom: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .author-description-container {
    text-align: left;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .card-group {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .link-container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .link-title, .link-desc-text, .link-domain {
    max-height: none;
  }
  .sticky-container {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
  }
  .share ul {
    display: block;
    height: auto;
    transform: scaleY(1);
  }
  .share ul > li > a {
    display: block;
  }
  .share-toggle {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .navbar>.container {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
  }
  .navbar .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .navbar-collapse {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .card-group {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .related-posts .card-group {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .link-img-container {
    width: 180px;
  }
  .link-img-container>.link-img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 767.98px) {
  .post-top-meta>.author-thumb-container {
    margin: 0 auto 1.5rem auto;
  }
  .sticky-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
  }
  .sticky-container > .share > p {
    display: none;
  }
  .share ul {
    margin-bottom: .5rem;
  }
  .share, .share a {
    color: rgba(0, 0, 0, .66);
    fill: rgba(0, 0, 0, .66);
  }
}

@media screen and (max-width: 991.98px) {
  .navbar>.container, .navbar>.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}