<div class="post-container">
    <div class="post-heading">
      {% include base/components/path.html %}
      <h1 class="post-title">{{ page.title }}</h1>
      <p>
        <small>
          <span class="post-date">
            {{ site.data.svgs.date }}
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date:'%Y.%m.%d' }}</time>
          </span>
        </small>
      </p>
    </div>
    {% if page.image %}
    <img 
      class="img-fluid lazyimg post-image holder" 
      src="{{ page.image | replace: '/images/', '/lazy-images/' }}" 
      data-src="{{ page.image }}" 
      alt="{{ page.title }}"
    >
    {% endif %}
    <article class="article-post">
    {% if page.toc %}
    <div class="toc-container">
      <h2 id="toc-title" class="toc-title">
        <span class="toc-icon">{{ site.data.svgs.toc }}</span>
        <span>목차</span>
      </h2>
      {{ content | toc_only }}
    </div>
    {% endif %}
    {% include base/components/google/infeed-ad.html slot=site.data.ad.first.infeed %}
    {{ content | lazy_images }}
    {% include base/components/google/infeed-ad.html slot=site.data.ad.second.infeed %}
    </article>

    {% if page.rating %}
    <strong class="mr-1">Rating:</strong>
    <div class="rating-container">
      {% include base/components/rating.html rating=page.rating %}
    </div> 
    {% endif %}
  
    <div class="after-post-tags">
      <ul class="tags">
        {% assign sorted_tags = page.tags | sort %}
        {% for tag in sorted_tags %}
        <li>
          <span>#{{ tag }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row post-top-meta">
      <div class="author-thumb-container">
        {{ site.data.svgs.person }}
      </div>
      <div class="author-description-container">
        <p class="link-dark">{{ site.author.name }}</p>
        <span class="author-description">{{ site.author.description }}</span>
      </div>
    </div>

    {% include base/components/related-post.html post=page %}
    {% include base/components/comment.html %}
</div>
