<div class="site-content">
  <div class="container">
    <div class="main-content">
      <div class="container">
        <div class="row">
          {% include base/post/sticky-share.html %}
          {% include base/post/body.html %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include base/scripts/index.js %}