<!-- Post Share -->
<div class="sticky-container">
  <div class="share sticky-top sticky-top-offset">
    <p>Share</p>
    <ul>
      <li class="ml-1 mr-1">
        <a target="_blank"
          href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.permalink }}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          {{ site.data.svgs.twitter }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank"
          href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.permalink }}"
          onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
          {{ site.data.svgs.facebook }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank" style="cursor:pointer"
          onclick="shareKakaoStory();return false;">
          {{ site.data.svgs.kakao_story }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank" style="cursor:pointer"
          onclick="shareKakaoTalk();return false;">
          {{ site.data.svgs.kakao_talk }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank"
          href="https://social-plugins.line.me/lineit/share?url={{ site.url }}{{ page.permalink }}"
          onclick="window.open(this.href, 'width=550,height=435');return false;">
          {{ site.data.svgs.line }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank" style="cursor:pointer"
          onclick="copyToClipboard('{{ site.url }}{{ page.permalink }}');return false;">
          {{ site.data.svgs.clipboard }}
        </a>
        <input type="text" id="copy-target-input" hidden readonly>
      </li>
    </ul>
    <button type="button" class="share-toggle">
      {{ site.data.svgs.share }}
      {{ site.data.svgs.close }}
    </button>
  </div>
</div>
<div class="toast-alert"><span>Copied to clipboard</span></div>
{% assign len = page.permalink | size %}
<script>
  var kakaoThumbnail = '{{ site.url }}{{ page.image }}';
  var kakaoTitle = '{{ page.title }}';
  var kakaoDescription = '{{ page.description | strip_newlines }}';
  var kakaoPath = '{{ page.permalink | slice: 1, len }}';
  var siteUrl = '{{ site.url }}';
  {% include base/scripts/share.js %}
  {% include base/scripts/kakao.share.js %}
  {% include base/scripts/copy-to-clipboard.js %}
</script>