---
layout: post
---
{% assign plugins = site.plugins | default:site.gems %}
{% assign lang_index = page.lang_index %}
{% assign lang = page.lang %}
<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang }}">
  <head>
    {% include base/head/index.html %}
  </head>
  <body>
    {% include base/components/nav.html %}
    {% include base/post/index.html %}
    {% include base/components/footer.html %}
  </body>
</html>