{% include amp/components/google/index.html %}
<div class="site-content">
  <div class="container">
    <div class="main-content">
      <div class="container">
        <div class="row">
          {% include amp/post/sticky-share.html %}
          {% include amp/post/body.html %}
        </div>
      </div>
    </div>
  </div>
</div>
