{% assign title = page.title %}
{% assign url = page.permalink %}

<!-- Post Share -->
<div class="sticky-container">
  <div class="share sticky-top sticky-top-offset" [class]="shareVisible ? 'share sticky-top sticky-top-offset active' : 'share sticky-top sticky-top-offset'">
    <p>Share</p>
    <ul>
      <li class="ml-1 mr-1">
        <a target="_blank"
          href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ url }}">
          {{ site.data.svgs.twitter }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank"
          href="https://facebook.com/sharer.php?u={{ site.url }}{{ url }}">
          {{ site.data.svgs.facebook }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a href="{{ url }}?share=kakao-story">
          {{ site.data.svgs.kakao_story }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a href="{{ url }}?share=kakao-talk">
          {{ site.data.svgs.kakao_talk }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a target="_blank"
          href="https://social-plugins.line.me/lineit/share?url={{ site.url }}{{ url }}">
          {{ site.data.svgs.line }}
        </a>
      </li>
      <li class="ml-1 mr-1">
        <a href="{{ url }}?share=clipboard">
          {{ site.data.svgs.clipboard }}
        </a>
        <input type="text" id="copy-target-input" hidden readonly>
      </li>
    </ul>
    <button type="button" class="share-toggle" on="tap:AMP.setState({shareVisible: !shareVisible})">
      {{ site.data.svgs.share }}
      {{ site.data.svgs.close }}
    </button>
  </div>
</div>
